.app
  padding-top: 140px
  footer
    position: absolute
    right: 0
    bottom: 0
    left: 0
    padding: 1rem
    background: #efefef
    text-align: center

.app-intro
  font-size: large

.app-section
  margin-bottom: 2rem

