.app-logo
  float: left
  position: relative
  height: 80px

.app-logo-animate
  animation: app-logo-spin infinite 5s linear

.app-header
  background-color: #222
  height: 120px
  padding: 20px
  color: white
  position: absolute
  left: 0
  right: 0
  top: 0
  > div
    width: 960px
    margin: 0 auto
  h2
    float: left
    position: relative
    left: 2rem

@keyframes app-logo-spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)