html
  height: 100%
  box-sizing: border-box

*, :before, :after
    box-sizing: border-box

body
  position: relative
  margin: 0
  padding-bottom: 6rem
  min-height: 100%
  font-family: "Helvetica Neue", Arial, sans-serif
  overflow-x: hidden

#root
  max-width: 960px
  margin: 0 auto
  padding: 0 1rem